.parent-comment {
    border: 1px solid #e0e0e0;
    padding: 8px;
    width: 60%;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2px;
    font-size: 14px;
    margin-left: 3px;
}

.parent-wall {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 0;
}

.post-comment {
    border: none;
    background-color: #3ABEF9;
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-comment:hover {
    background-color: #1F8AC0;
}

.p-comment-d-block {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin: 2px;
}

.display-parent-comments {
    border: none;
    padding: 0px;
    width: 90%;
    background-color: #f8f8f8;
    border-radius: 15px;
    margin-bottom: 5px;
    position: relative;
}

.rep-box > span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 2px;
    color: #333;
    padding-left: 25px;
    font-weight: 500;
}

.replies {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 5px;
}

.comment {
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}

.reply-container {
    margin-left: 20px;
    margin-top: 10px;
}

.comment-reply {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-reply input {
    flex: 1;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    font-family: "Montserrat", sans-serif;
    margin-right: 10px;
}

.comment-reply button {
    border: none;
    background-color: #3ABEF9;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-reply button:hover {
    background-color: #1F8AC0;
}

.reply {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333;
}

.reply input {
    width: calc(100% - 40px);
}

.comments-wall {
    width: 100%;
    margin: 8px 8px 0;

    padding-left: 5px;
}

.rep-box{
    display: flex;
    flex-direction: column;
}

.rep-btns {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    margin-left: 10px;
    gap: 10px;
}

.btn-view-replies {
    border: none;
    outline: none;
    border-radius: 10px; 
    width:fit-content;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #949494;
    font-weight: 600;
    font-size: 12px;
    background-color: #f8f8f8;

}

.btn-rep {
    background-color: #f8f8f8;
    border: none;
    outline: none;
    margin-left: 30px;
    border-radius: 10px;   
    width: fit-content; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #949494;
    font-weight: 600;
    font-size: 12px;
}   

.show-all-comments{
    background-color: #fff;
    border: none;
    outline: none;
    margin-left: 5px;
    border-radius: 10px;   
    width: 15%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #949494;
    font-weight: 600;
    font-size: 12px;
}

.comment-user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
    margin-top: 2px;
    
}

.profile-picture {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.comment-header {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

.username {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.extra-info {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: 11px;
    color: #949494;
    font-weight: 500;
}